/* === variables =============================================== */

$st-blue-purple: #9698f3;
$st-dorange-bg: #ffad01;
$st-lblue-bg: #507CFF;
$st-dorange-txt: #E5D1B8;
$st-old-pink-bg: #de616e;
$st-light-pink-bg: #fecdbe;

/* === mixins =============================================== */

@mixin hvstripes ($height: 40px) {
    content: " ";
    display:block;
    height: $height;
    width: 5px;
    background-color: #000;
}

@mixin rad-grad-darkorange {
    background: #fce667; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #fce667 0%, #ff7802 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fce667), color-stop(100%,#ff7802)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #fce667 0%,#ff7802 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #fce667 0%,#ff7802 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #fce667 0%,#ff7802 100%); /* IE10+ */
    background: radial-gradient(#fce667 0%,#ff7802 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce667', endColorstr='#ff7802',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin rad-grad-darkred {
    background: #F11124; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #F11124 0%, #8F000F 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#F11124), color-stop(100%,#8F000F)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #F11124 0%,#8F000F 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #F11124 0%,#8F000F 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #F11124 0%,#8F000F 100%); /* IE10+ */
    background: radial-gradient( #F11124 0%,#8F000F 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F11124', endColorstr='#8F000F',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin rad-grad-lpink {
    background: #fcf8f7; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #fcf8f7 0%, #fecdbe 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcf8f7), color-stop(100%,#fecdbe)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #fcf8f7 0%,#fecdbe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #fcf8f7 0%,#fecdbe 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #fcf8f7 0%,#fecdbe 100%); /* IE10+ */
    background: radial-gradient(#fcf8f7 0%,#fecdbe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8f7', endColorstr='#fecdbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin rad-grad-lblue {
    background: #507CFF; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9EC5FF 0%, #507CFF 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9EC5FF), color-stop(100%,#507CFF)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9EC5FF 0%,#507CFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9EC5FF 0%,#507CFF 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9EC5FF 0%,#507CFF 100%); /* IE10+ */
    background: radial-gradient(#9EC5FF 0%,#507CFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9EC5FF', endColorstr='#507CFF',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin rad-grad-lblue-alt {
    background: #517DFF; /* Old browsers */
    background: -moz-linear-gradient(top,  #517DFF 0%, #6690FF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#517DFF), color-stop(100%,#6690FF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #517DFF 0%,#6690FF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #517DFF 0%,#6690FF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #517DFF 0%,#6690FF 100%); /* IE10+ */
    background: linear-gradient(top,  #517DFF 0%,#6690FF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517DFF', endColorstr='#6690FF',GradientType=0 ); /* IE6-9 */
}

@mixin fade {
    opacity: 0.8;
    -o-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    
    &:hover {
        opacity: 1;
    }
}


/* === actual style =============================================== */

body {
    font-family: Tahoma, Arial, Sans-Serif;
    background: #000000; /* Old browsers */
    background: url(../img/starfield.jpg) center top no-repeat #000 fixed;
}



.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

a, a:hover, a:focus, a:visited {
    color: $st-blue-purple;
}

header, footer {
    
    font-variant: small-caps;
    
    h1 {
        background-color: $st-dorange-bg;
        display: block;
        height: 40px;
        font-size: 60px;
        text-align: right;
        margin-bottom: 0px; 
        border-radius: 20px;
        line-height: 27px;
        @include rad-grad-darkorange;

        &:before, &:after {
        @include hvstripes
        }
      
        &:before {
        float:left;
        margin-left: 40px
        }

        &:after {
        float: right;
        margin-right: 40px
        }

        span {
        margin-right: 30px;
        height: 40px;
        }
    }

    h2 {
        display: block;
        height: 20px;
        font-size: 30px;
        line-height: 14px;
        text-align: right;
        font-weight: normal;
        border-radius: 10px;
        @include rad-grad-darkred;

        &:before, &:after {
        @include hvstripes(20px)
        }

        &:before {
        float:left;
        margin-left: 20px
        }

        &:after {
        float: right;
        margin-right: 20px
        }
        
        span {
            margin-right: 50px;
            height: 20px;
        }
    }

    span {
        color: $st-blue-purple;
        background-color: #000;
        padding: 0 10px;
        display: inline-block;
    }
}

header, footer {

    .c-1-1 {
        background:none; 
        text-align: center; 
        box-shadow: none; 
        border-radius: none;
        
        .twrapper {
            display:inline-block;
        }
        
    }
}

.c-1-1,
.c-3-1,
.c-3-2,
.c-2-1,
.c-4-1,
.c-4-3 {
    padding: 0.5% 1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea {
    width: 99%; 
    height: 300px;
    border: 0px;
    border-radius: 10px;
    padding: 0.5% 1%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    font-size: 0.9em;
}

p {margin: 0.5em 0; color: $st-dorange-txt}

.c-3-1  {

    font-variant: small-caps;
    font-size: 20px;
    padding-left: 0px;

    .options-top, .options-bottom {
        border-top-right-radius: 25% 100%;
        min-height: 50px;
        margin-bottom: 5px;
        @include rad-grad-lblue;
    }

    .options-bottom {
        border-bottom-right-radius: 25% 100%;
        min-height: 50px;
        margin-bottom: 5px;
    }
            
    .c-1-1 {
        @include rad-grad-lpink;
        margin-bottom: 5px;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 0.8em;
        min-height: 25px;
        @include fade;
        
        &.options {
            padding: 0 0 0 5px;
            display:block;
            margin-bottom: 5px;
            @include rad-grad-lblue;
            font-size: 1em;
            opacity: 1;
        }
    
        input[type=checkbox] {
            border: 1px solid #ccc;
            margin-top: 3px;
        }
          
        input, select {
            float:right
        }
    }

        
    input[type=button] {
        @include rad-grad-darkorange;
        text-align: right;
        padding: 10px 25px 0 0;
        border: 0px;
        width: 100%;
        border-radius: 0 0 25px 0;
        @include fade;
        float:left;
    }
}


.c-3-2 {
    padding-right: 0;

    .content-top {
        @include rad-grad-lblue-alt;
        height: 20px;
        margin-bottom: 5px;
        margin-left: 20px;
          
        &:before {
            content: " ";
            display:block;
            height: 20px;
            width: 20px;
            @include rad-grad-lblue-alt;
            border-right: 5px solid #000;
            border-radius: 10px 0 0 10px;
            margin-left: -20px
        }
    }
}

/* === responsive stuff === */

@media only screen and (max-width: 880px) {
    
    header, footer {
        h1, h2 {
            font-size: 20px;
            height: 20px;
            line-height: 14px;
            
            span {
                height: 20px;
            }
            
            &:before, &:after {
                display:none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .content-top, .options-top {
        display:none;
    }
    
    .stlipsum {
        .c-3-2 {
            padding-top: 230px;
        }
        
        .c-3-1 {
            margin-top: -530px;
        }
    }
}

@media only screen and (max-width: 550px) {
    
    header, footer {
        h1, h2 {
            font-size: 14px;
            height: 14px;
            line-height: 8px;
            
            span {
                height: 20px;
            }
        }
    }
    
}

@media only screen and (max-width: 550px) { 
    header, footer {
        h1, h2 {
            height:auto;
            text-align: center;
            line-height: normal;
            font-weight: bold;
            
            span {
                margin-right: 0;
                height:auto;
                margin: 0 10px;
            }
        } 
    }
}
