/* === variables =============================================== */

$st-blue-purple: #9698f3;
$st-dorange-bg: #fcf267;
$st-lblue-bg: #6d92ff;
$st-old-pink-bg: #de616e;
$st-light-pink-bg: #fecdbe;
$st-red-bg: #F11124;


/* general container */


html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, Sans-Serif;
    background-color: #000;
}

.container {
    margin: 0 auto;
    padding: 0 1%;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 960px;     /* main width */

    &::after {
        content: "";
        display:block;
        clear:both;
    }
}

/* === mixins =============================================== */

@mixin hvstripes ($height: 40px) {
    content: " ";
    display:block;
    height: $height;
    width: 5px;
    background-color: #000;
}


/* === actual style =============================================== */


a, 
a:focus, 
a:visited {
    color: $st-blue-purple;
}

a:hover {
    color: #fff;
}
    
h1 {
    background-color: $st-dorange-bg;
    font-size: 60px;
    margin-bottom: 0px; 
    border-radius: 20px;
    line-height: 27px;
    background: $st-dorange-bg;

    &:before, &:after {
        @include hvstripes
    }
    
    &:before {
        float:left;
        margin-left: 40px
    }

    &:after {
        float: right;
        margin-right: 40px
    }

    span {
        margin-left: 30px;
        height: 40px;
    }
}

h2 {
    font-size: 30px;
    line-height: 14px;
    font-weight: normal;
    border-radius: 10px;
    background-color: $st-red-bg;

    &:before, &:after {
        @include hvstripes(20px)
    }

    &:before {
        float:left;
        margin-left: 20px
    }

    &:after {
        float: right;
        margin-right: 20px
    }
    
    span {
        margin-left: 50px;
        height: 20px;
    }
}

span {
    color: $st-blue-purple;
    background-color: #000;
    padding: 0 10px;
    display: inline-block;
}






textarea {
    width: 100%; 
    height: 300px;
    border: 0px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
}

p {
    color: #ddd;
    font-size: 14px;
    padding: 0 30px;

    @media only screen and (max-width: 768px) {
        padding: 0;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


.access {
  font-size: 0px;
  line-height: 0;
}

.options {
    border-radius: 25px 0 0 0;
    min-height: 20px;
    margin-bottom: 5px;
    background-color: $st-lblue-bg;
    padding: 20px 5px 5px;
    font-weight: bold;

    @media only screen and (max-width: 768px) {
         min-height: 0;
         border-radius: 0;
         padding: 5px;
    }
}

.controls  {
    width: 33.3%;
    padding-right: 0px;    
            
    .controls__sets {
        background-color: $st-light-pink-bg;
        margin-bottom: 5px;
        padding: 5px;
        display: flex;

        @media only screen and (max-width: 768px) {
            line-height: 48px;
        }

        > input,
        > select {
            margin-left: auto;
        }

        > select {
            @media only screen and (max-width: 768px) {
                height: 48px;
                width: 48px;
            }
        }
  
    
        input[type=checkbox] {
            border: 1px solid #ccc;
            margin-top: 3px;

            @media only screen and (max-width: 768px) {
                height: 48px;
                width: 48px;
            }
        }

        .radiobutton {
            background: transparent;
            margin: 5px 4px 0 0;

            @media only screen and (max-width: 768px) {
                margin-top: 3px;
                height: 48px;
                width: 48px;
            }
        }

        .radiogroup {
            width: 50%;
            display: flex;

            @media only screen and (max-width: 768px) {
                margin: 4px 0 2px;
                width: 100%;
            }
        }
    }

        
    .gen {
        background: $st-dorange-bg;
        text-align: right;
        padding: 10px 25px 0 0;
        border: 0px;
        width: 100%;
        border-radius: 0 0 0 25px;
        font-size: 20px;
        opacity: 0.8;
        transition: opacity 0.3s;
        
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}



.content {
    padding-left: 0;
    width: 66.6%;

    .content__top {
        background-color: $st-lblue-bg;
        height: 20px;
        margin-bottom: 5px;
        margin-right: 25px;
          
        &:after {
            float:right;
            content: " ";
            display:block;
            height: 20px;
            width: 20px;
            background-color: $st-lblue-bg;
            border-right: 5px solid #000;
            border-radius: 0 50% 50% 0;
            margin-right: -30px;
        }
    }
}

footer {
    float:left;
}




.controls, .content {
    float:left;
    box-sizing: border-box;
    min-height: 1px;


    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}


@media only screen and (max-width: 880px) {
    h1, h2 {
        font-size: 20px;
        line-height: 14px;
        
        span {
            height: 20px;
            margin-left: 30px;
        }
        
        &:before, &:after {
            display:none;
        }
    }   
}

@media only screen and (max-width: 768px) {
    .content__top {
        display:none;
    }
}

@media only screen and (max-width: 550px) { 
    h1, h2 {
        font-size: 16px;
    } 
}
