/* === imports =============================================== */

/* the grid */

/* general container */

.container {
    margin: 0 auto;
    padding: 0 1%;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 960px;     /* main width */

    &::after {
        content: "";
        display:block;
        clear:both;
    }
}


/* column container */

.cc {
  width: 100%;
  float:left;
}


/* base grids */

.c-1-1 {width: 100%}

.c-2-1 {width: 50%}

.c-3-1 {width: 33.3%}

.c-3-2 {width: 66.6%}


/* columns */

[class^="c-"] {
    float:left;
    box-sizing: border-box;
    min-height: 1px;
    padding: 0.5% 1%;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}


html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, Sans-Serif;
    background: url(../img/starfield.jpg) center top no-repeat #000 scroll;
}


/* === variables =============================================== */

$st-blue-purple: #9698f3;
$st-dorange-bg: #fcf267;
$st-lblue-bg: #507CFF;
$st-old-pink-bg: #de616e;
$st-light-pink-bg: #fecdbe;
$st-red-bg: #F11124;

/* === mixins =============================================== */

@mixin hvstripes ($height: 40px) {
    content: " ";
    display:block;
    height: $height;
    width: 5px;
    background-color: #000;
}


/* === actual style =============================================== */


a, 
a:hover, 
a:focus, 
a:visited {
    color: $st-blue-purple;
}
    
h1 {
    background-color: $st-dorange-bg;
    font-size: 60px;
    margin-bottom: 0px; 
    border-radius: 20px;
    line-height: 27px;
    background: $st-dorange-bg;

    &:before, &:after {
        @include hvstripes
    }
    
    &:before {
        float:left;
        margin-left: 40px
    }

    &:after {
        float: right;
        margin-right: 40px
    }

    span {
        margin-left: 30px;
        height: 40px;
    }
}

h2 {
    font-size: 30px;
    line-height: 14px;
    font-weight: normal;
    border-radius: 10px;
    background-color: $st-red-bg;

    &:before, &:after {
        @include hvstripes(20px)
    }

    &:before {
        float:left;
        margin-left: 20px
    }

    &:after {
        float: right;
        margin-right: 20px
    }
    
    span {
        margin-left: 50px;
        height: 20px;
    }
}

span {
    color: $st-blue-purple;
    background-color: #000;
    padding: 0 10px;
    display: inline-block;
}






textarea {
    width: 100%; 
    height: 300px;
    border: 0px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
}

p {
    color: #fff;
}

.c-3-1  {
    font-size: 20px;
    padding-right: 0px;

    .options-top, .options-bottom {
        border-radius: 25px 0 0 0;
        min-height: 50px;
        margin-bottom: 5px;
        background-color: $st-lblue-bg;
    }

    .options-bottom {
        border-bottom-left-radius: 25% 100%;
        min-height: 50px;
        margin-bottom: 5px;
    }
            
    .c-1-1 {
        background-color: $st-light-pink-bg;
        margin-bottom: 5px;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 0.8em;
        min-height: 25px;

        
        &.options {
            padding: 0 0 0 5px;
            display:block;
            margin-bottom: 5px;
            background-color: $st-lblue-bg;
            font-size: 1em;
            min-height: 28px;
        }
    
        input[type=checkbox] {
            border: 1px solid #ccc;
            margin-top: 3px;
        }
          
        input, select {
            float:right
        }

        &.radiobuttons {
            min-height: 32px;
        }

        .radiobutton {
            float:left;
            background: transparent;
            margin: 5px 4px 0 0;

            @media only screen and (max-width: 768px) {
                margin-top: 3px;
            }
        }

        .radiogroup {
            @media only screen and (max-width: 768px) {
                margin: 4px 0 2px;
            }
        }
    }

        
    .gen {
        background: $st-dorange-bg;
        text-align: right;
        padding: 10px 25px 0 0;
        border: 0px;
        width: 100%;
        border-radius: 0 0 0 25px;
        float:left;
        font-size: 20px;
        opacity: 0.8;
        transition: opacity 0.3s;
        
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}



.c-3-2 {
    padding-left: 0;

    .content-top {
        background-color: $st-lblue-bg;
        height: 20px;
        margin-bottom: 5px;
        margin-right: 25px;
          
        &:after {
            float:right;
            content: " ";
            display:block;
            height: 20px;
            width: 20px;
            background-color: $st-lblue-bg;
            border-right: 5px solid #000;
            border-radius: 0 50% 50% 0;
            margin-right: -30px;
        }
    }
}

.sharelink,
.sharelink:visited {
    
    padding: 1px 6px;
    border-radius: 8px;
    display: inline-block;

    
    &:hover {
        color: #fff;
    }
}




/* === responsive stuff === */

@media only screen and (max-width: 880px) {
    h1, h2 {
        font-size: 20px;
        line-height: 14px;
        
        span {
            height: 20px;
            margin-left: 30px;
        }
        
        &:before, &:after {
            display:none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .content-top, .options-top {
        display:none;
    }

    .gen {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 550px) { 
    h1, h2 {
        font-size: 16px;

        
        span {
            margin-right: 0;
        }
    } 
}
