/* === imports =============================================== */
/* the grid */
/* general container */
.container {
  margin: 0 auto;
  padding: 0 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  max-width: 1012px;
  /* main width */
}

.container::after {
  content: " ";
  display: block;
  clear: both;
}

.container.full {
  max-width: 100%;
}

.container.fixed {
  max-width: 960px;
}

/* column container */
.cc {
  width: 100%;
  float: left;
}

/* columns */
[class^="c-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}

/* base grids */
.c-1-1 {
  width: 100%;
}

.c-5-1 {
  width: 20%;
}

.c-5-2 {
  width: 40%;
}

.c-5-3 {
  width: 60%;
}

.c-5-4 {
  width: 80%;
}

.c-7-1 {
  width: 14.2%;
}

.c-7-2 {
  width: 28.4%;
}

.c-7-3 {
  width: 42.6%;
}

.c-7-4 {
  width: 56.8%;
}

.c-7-5 {
  width: 71%;
}

.c-7-6 {
  width: 85.2%;
}

.c-12-1 {
  width: 8.3%;
}

.c-12-2 {
  width: 16.6%;
}

.c-12-3 {
  width: 24.9%;
}

.c-12-4 {
  width: 33.2%;
}

.c-12-5 {
  width: 41.5%;
}

.c-12-6 {
  width: 50%;
}

.c-12-7 {
  width: 58.1%;
}

.c-12-8 {
  width: 66.4%;
}

.c-12-9 {
  width: 74.7%;
}

.c-12-10 {
  width: 83%;
}

.c-12-11 {
  width: 91.3%;
}

/* 12-1 substite grids for greater accurancy */
.c-2-1 {
  width: 50%;
}

.c-3-1 {
  width: 33.3%;
}

.c-3-2 {
  width: 66.6%;
}

.c-4-1 {
  width: 25%;
}

.c-4-2 {
  width: 50%;
}

/* redundant (c-2-1) but kept for sake of userfriendlyness */
.c-4-3 {
  width: 75%;
}

.c-6-1 {
  width: 16.6%;
}

.c-6-2 {
  width: 33.2%;
}

.c-6-3 {
  width: 50%;
}

/* redundant (c-2-1) but kept for sake of userfriendlyness */
.c-6-4 {
  width: 66.4%;
}

.c-6-5 {
  width: 83%;
}

/* column nesting limit -> 4 levels allowed - may be removed or tweaked if needed */
[class^="c-"] > [class^="c-"] > [class^="c-"] > [class^="c-"] > [class^="c-"] {
  width: 100%;
}

/* responsive behaviour */
@media only screen and (max-width: 1012px) {
  .container {
    min-width: 320px;
    width: auto;
    padding: 0 5% 5%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    min-width: 240px;
    width: auto;
  }

  /* all columns go 100% frenzy on small screen */
  [class^="c-"] {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/*! normalize.css 2011-09-22T17:42 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* === variables =============================================== */
/* === mixins =============================================== */
/* === actual style =============================================== */
body {
  font-family: Tahoma, Arial, Sans-Serif;
  background: #000000;
  /* Old browsers */
  background: url(../img/starfield.jpg) center top no-repeat #000 fixed;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.fright {
  float: right;
}

a, a:hover, a:focus, a:visited {
  color: #9698f3;
}

header, footer {
  font-variant: small-caps;
}
header h1, footer h1 {
  background-color: #ffad01;
  display: block;
  height: 40px;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0px;
  border-radius: 20px;
  line-height: 27px;
  background: #fce667;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fce667), color-stop(100%, #ff7802));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* IE10+ */
  background: radial-gradient(#fce667 0%, #ff7802 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce667', endColorstr='#ff7802',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
header h1:before, header h1:after, footer h1:before, footer h1:after {
  content: " ";
  display: block;
  height: 40px;
  width: 5px;
  background-color: #000;
}
header h1:before, footer h1:before {
  float: left;
  margin-left: 40px;
}
header h1:after, footer h1:after {
  float: right;
  margin-right: 40px;
}
header h1 span, footer h1 span {
  margin-right: 30px;
  height: 40px;
}
header h2, footer h2 {
  display: block;
  height: 20px;
  font-size: 30px;
  line-height: 14px;
  text-align: right;
  font-weight: normal;
  border-radius: 10px;
  background: #F11124;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #F11124 0%, #8F000F 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #F11124), color-stop(100%, #8F000F));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #F11124 0%, #8F000F 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #F11124 0%, #8F000F 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #F11124 0%, #8F000F 100%);
  /* IE10+ */
  background: radial-gradient(#F11124 0%, #8F000F 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F11124', endColorstr='#8F000F',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
header h2:before, header h2:after, footer h2:before, footer h2:after {
  content: " ";
  display: block;
  height: 20px;
  width: 5px;
  background-color: #000;
}
header h2:before, footer h2:before {
  float: left;
  margin-left: 20px;
}
header h2:after, footer h2:after {
  float: right;
  margin-right: 20px;
}
header h2 span, footer h2 span {
  margin-right: 50px;
  height: 20px;
}
header span, footer span {
  color: #9698f3;
  background-color: #000;
  padding: 0 10px;
  display: inline-block;
}

header .c-1-1, footer .c-1-1 {
  background: none;
  text-align: center;
  box-shadow: none;
  border-radius: none;
}
header .c-1-1 .twrapper, footer .c-1-1 .twrapper {
  display: inline-block;
}

.c-1-1,
.c-3-1,
.c-3-2,
.c-2-1,
.c-4-1,
.c-4-3 {
  padding: 0.5% 1%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

textarea {
  width: 99%;
  height: 300px;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  font-size: 0.9em;
}

p {
  margin: 0.5em 0;
  color: #E5D1B8;
}

.c-3-1 {
  font-variant: small-caps;
  font-size: 20px;
  padding-right: 0px;
}
.c-3-1 .options-top, .c-3-1 .options-bottom {
  border-radius: 25px 0 0 0;
  min-height: 50px;
  margin-bottom: 5px;
  background: #507CFF;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #9EC5FF), color-stop(100%, #507CFF));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* IE10+ */
  background: radial-gradient(#9EC5FF 0%, #507CFF 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9EC5FF', endColorstr='#507CFF',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.c-3-1 .options-bottom {
  border-bottom-left-radius: 25% 100%;
  min-height: 50px;
  margin-bottom: 5px;
}
.c-3-1 .c-1-1 {
  background: #fcf8f7;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fcf8f7 0%, #fecdbe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcf8f7), color-stop(100%, #fecdbe));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fcf8f7 0%, #fecdbe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fcf8f7 0%, #fecdbe 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fcf8f7 0%, #fecdbe 100%);
  /* IE10+ */
  background: radial-gradient(#fcf8f7 0%, #fecdbe 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8f7', endColorstr='#fecdbe',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  margin-bottom: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 0.8em;
  min-height: 25px;
}
@media only screen and (max-width: 768px) {
  .c-3-1 .c-1-1 {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.c-3-1 .c-1-1.options {
  padding: 0 0 0 5px;
  display: block;
  margin-bottom: 5px;
  background: #507CFF;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #9EC5FF), color-stop(100%, #507CFF));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #9EC5FF 0%, #507CFF 100%);
  /* IE10+ */
  background: radial-gradient(#9EC5FF 0%, #507CFF 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9EC5FF', endColorstr='#507CFF',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  font-size: 1em;
  min-height: 28px;
}
.c-3-1 .c-1-1 input[type=checkbox] {
  border: 1px solid #ccc;
  margin-top: 3px;
}
.c-3-1 .c-1-1 input, .c-3-1 .c-1-1 select {
  float: right;
}
.c-3-1 .c-1-1.radiobuttons {
  min-height: 32px;
}
.c-3-1 .c-1-1 .radiobutton {
  float: left;
  background: transparent;
  margin: 5px 4px 0 0;
}
@media only screen and (max-width: 768px) {
  .c-3-1 .c-1-1 .radiobutton {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 768px) {
  .c-3-1 .c-1-1 .radiogroup {
    margin: 4px 0 2px;
  }
}
.c-3-1 input[type=button] {
  background: #fce667;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fce667), color-stop(100%, #ff7802));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #fce667 0%, #ff7802 100%);
  /* IE10+ */
  background: radial-gradient(#fce667 0%, #ff7802 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce667', endColorstr='#ff7802',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  text-align: right;
  padding: 10px 25px 0 0;
  border: 0px;
  width: 100%;
  border-radius: 0 0 0 25px;
  opacity: 0.8;
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  float: left;
}
.c-3-1 input[type=button]:hover {
  opacity: 1;
}

.c-3-2 {
  padding-left: 0;
}
.c-3-2 .content-top {
  background: #517DFF;
  /* Old browsers */
  background: -moz-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #517DFF), color-stop(100%, #6690FF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* IE10+ */
  background: linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517DFF', endColorstr='#6690FF',GradientType=0 );
  /* IE6-9 */
  height: 20px;
  margin-bottom: 5px;
  margin-right: 25px;
}
.c-3-2 .content-top:after {
  float: right;
  content: " ";
  display: block;
  height: 20px;
  width: 20px;
  background: #517DFF;
  /* Old browsers */
  background: -moz-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #517DFF), color-stop(100%, #6690FF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* IE10+ */
  background: linear-gradient(top, #517DFF 0%, #6690FF 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517DFF', endColorstr='#6690FF',GradientType=0 );
  /* IE6-9 */
  border-right: 5px solid #000;
  border-radius: 0 50% 50% 0;
  margin-right: -30px;
}

/* === responsive stuff === */
@media only screen and (max-width: 880px) {
  header h1, header h2, footer h1, footer h2 {
    font-size: 20px;
    height: 20px;
    line-height: 14px;
  }
  header h1 span, header h2 span, footer h1 span, footer h2 span {
    height: 20px;
  }
  header h1:before, header h1:after, header h2:before, header h2:after, footer h1:before, footer h1:after, footer h2:before, footer h2:after {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .content-top, .options-top {
    display: none;
  }

  .c-3-1 input[type=button] {
    border-radius: 0px;
  }

  .sharelink {
    margin-bottom: 8px;
    display: inline-block;
  }

  p {
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 550px) {
  header h1, header h2, footer h1, footer h2 {
    font-size: 14px;
    height: 14px;
    line-height: 8px;
  }
  header h1 span, header h2 span, footer h1 span, footer h2 span {
    height: 20px;
  }
}
@media only screen and (max-width: 550px) {
  header h1, header h2, footer h1, footer h2 {
    height: auto;
    text-align: center;
    line-height: normal;
    font-weight: bold;
  }
  header h1 span, header h2 span, footer h1 span, footer h2 span {
    margin-right: 0;
    height: auto;
    margin: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
